@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    outline: none;
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
section{
  width: 90%;
  margin: 0 auto;
}
.sub-section{
    min-height: 100vh;
    padding: 10rem 1rem 2rem;
}
/* header and navbar functionality */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
 z-index: 99;
 padding: 3rem 2rem !important;
background: #fff;
box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.header.sticky {
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}
.logo a{
    font-size: 18px;
}
#nv-items a{
    color: #0f885b;
    text-decoration: none;
    font-size: 14px;
   padding: 1rem;
    align-items:center;
}

#nv-items a:hover {
    color:#3ad29a;
}

#menu-icon{
    font-size: 3.2rem;
    color: #fff;
    display: none;
}
.mobile{
  display: none;
}



  /* meadia query */
  @media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    header{
      background: #fff;
    }
    .mobile{
      display: block;
    }
    .nv-item {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3% !important;
        background: #fff;
        color: #0f885b;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .nv-item.active{
        display: block;
        height: 40vh;
        text-align: start !important; 
    }
      .nv-item a{
        display: block !important;
        margin: 1rem 0;
    }
    
}